<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" href="static/h-ui.admin/css/H-ui.admin.css" />
  <link rel="stylesheet" href="lib/Hui-iconfont/1.0.7/iconfont.css" />
  <link rel="stylesheet" href="lib/layui/css/layui.css" />
  <!-- 防止加了hash的css文件未加载时页面中出现本应该隐藏的弹框 -->
  <style>
  #addmember {
    display: none;
  }
  
  #loading {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 25%;
    left: 49%;
    z-index: 20000000;
  }
  </style>
  <title>用户列表</title>
</head>
<script>
var style = document.createElement("link");
style.setAttribute("rel", "stylesheet");
style.setAttribute("href", "dist/css/member.css?hash=" + Date.now());
document.getElementsByTagName("head")[0].appendChild(style);
</script>

<body id="app">
  <nav class="breadcrumb">
    <i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理
    <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
  <div class="page-container" id="isget" style="visibility: hidden">
    <div class="cl pd-5 bg-1 bk-gray mt-20 center">
      <span>
        <select id="searchType" v-model="searchType" @change="changeType" class="input-text">
          <option value="Nick" selected>昵 称</option>
          <option value="Mobile">手 机</option>
          <option value="Mail">邮 箱</option>
          <option value="UsrId">用户ID</option>
        </select>
      </span>
      <span>         
        <input id="searchKey" v-model="searchKey" @keyup.enter="search" class="input-text" type="search" autofocus><a id="searchBtn" class="btn btn-success radius" @click="search" href="javascript:;"><i class="Hui-iconfont">&#xe665;</i> 搜 索</a>
      </span>
      <span class="l">
        <a class="btn btn-primary radius" v-on:click="add()" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加用户</a>
      </span>
      <span class="r lh">本页数据:
        <select v-model="displayCount" @change="getData($event)">
          <option value="{{displayCount}}">{{displayCount}}</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="50">50</option>
        </select> 条
        <span> &nbsp;共{{TotalCount}}条</span>
      </span>
    </div>
    <div class="mt-20">
      <table class="table table-border table-bordered table-bg table-hover table-sort">
        <thead>
          <tr class="text-c">
            <th>用户ID</th>
            <th>昵称</th>
            <th>性别</th>
            <th>生日</th>
            <th>头像</th>
            <th>邮箱</th>
            <th>手机</th>
            <th>地址</th>
            <th>主播</th>
            <th>创建时间</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-c" v-for="item in items">
            <td>{{item.AliasId}}</td>
            <td>{{item.Nick}}</td>
            <td v-if="item.Gender == 1">男</td>
            <td v-else>女</td>
            <td>{{item.Birth.replace("T"," ").slice(0,10)}}</td>
            <td><a href="{{item.Avatar}}" target="_blank"><i class="Hui-iconfont">&#xe646;</i></a></td>
            <td>{{item.Mail}}</td>
            <td>{{item.Mobile}}</td>
            <td>{{item.Address}}</td>
            <td v-if="item.IsAnchor == 1" style="color:green">是</td>
            <td v-else style="color:red">否</td>
            <td>{{item.CTime.replace("T"," ").slice(0,19)}}</td>
            <td>
              <a v-if="item.Status == 1" style="background-color:#00B271" class="ml-5 manage-btn enable-btn" id="id{{item.Id}}" v-on:mouseover="over(item.Id,item.Status)" v-on:mouseout="out(item.Id,item.Status)" href="javascript:;" v-on:click="edit(item.Id, item.Status)">已启用
              </a>
              <a v-else style="background-color:#707070" id="id{{item.Id}}" class="ml-5 manage-btn disable-btn" v-on:mouseover="over(item.Id,item.Status)" v-on:mouseout="out(item.Id,item.Status)" v-on:click="edit(item.Id, item.Status)" href="javascript:;">已禁用
              </a>
            </td>
            <td>
              <a v-if="item.IsAnchor == 0" style="background-color:#00B271" class="set-btn" v-on:click="setAnchor(item.Id)">设为主播
              </a>
              <a v-else style="background-color:#707070" class="set-btn" v-on:click="isAnchor">已为主播
              </a>
            </td>
          </tr>
          <tr class="text-c" v-if="displayCount === 0">
            <td colspan="11">暂无数据 </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 分页 -->
    <div id="page"></div>
    <!-- 增加弹出框 -->
    <div id="addmember">
      <form enctype="multipart/form-data" id="addform">
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>昵称:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" v-model="addItem.Nick" @keyup.enter="layer_submit_add" @blur="checkAddItem('nick',1)" id="nick" autofocus name="Nick">
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>性别:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <select v-model="addItem.Sex" class="input-text" name="Sex">
              <option value="1" selected>男</option>
              <option value="0">女</option>
            </select>
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>邮箱:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="text" id="mail" class="input-text" v-model="addItem.Mail" @keyup.enter="layer_submit_add" @blur="checkMail" name="Mail">
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>手机:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="number" class="input-text" v-model="addItem.Mobile" placeholder="11位手机号" @keyup.enter="layer_submit_add" @blur="checkMobile" id="mobile" name="Mobile">
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>地址:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" v-model="addItem.Address" @keyup.enter="layer_submit_add" @blur="checkAddItem('address',1)" id="address" name="Address">
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>状态:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <select v-model="addItem.Status" class="input-text" name="Status">
              <option value="1" selected>启用</option>
              <option value="0">禁用</option>
            </select>
          </div>
        </div>
        <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>上传头像:</label>
          <div class="formControls col-xs-8 col-sm-9">
            <div class="uploader-thum-container">
              <input @change="checkAddFile()" id="addfile" accept="image/*" type="file" name="File">
            </div>
            <span class="totalSize" :style="{'color':overSize?'red':'#333'}">大小不超过1M</span>
          </div>
        </div>
        <div class="row cl">
          <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
            <button id="submit_edit" v-on:click="layer_submit_add" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 提交增加</button>
            <button v-on:click="layer_close" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 页面加载提示 -->
    <div id="loading" v-bind:class="{ hide: isHide }"><img src="lib/layer/2.1/skin/default/loading-2.gif"></div>
    <script src="lib/jquery/1.9.1/jquery.min.js"></script>
    <script src="lib/layer/2.1/layer.js"></script>
    <script src="lib/layui/layui.js"></script>
    <script src="//ok82gyrdp.qnssl.com/js/admin/vue-1.0.28.js"></script>
    <script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>
    <div id="js"></div>
    <script>
    var script = document.createElement("script");
    script.setAttribute("src", "static/js/member.js?hash=" + Date.now());
    document.getElementById("js").appendChild(script);
    </script>
</body>

</html>
